*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #272727; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 30px 0;
}

.review-box{
    margin-bottom: 15px;
    position: relative;
}

.question-box{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

/* .change-btn{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 60%;
    background-color: red;
} */

#next-btn{
    position: absolute;
    top: 80%;
    left: -80px;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;
}
#prev-btn{
    position: absolute;
    top: 80%;
    left: 108%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;
}

 #next-btn:hover, #prev-btn:hover {
    color: orangered;
}

.random-btn{
    text-align: center;
    position: absolute;
    top: -40px;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, 50%);
    /* border: 1px solid black; */
    border-radius: 50%;
}

.random-btn button{
    background: none;
    border: none;
    color: rgb(168, 168, 168);
    font-size: 1.3rem;
    cursor: pointer;
}
.random-btn button:hover{
    color: orangered;
}

.question-number{
    color: orangered;
    text-decoration: underline;
}

.btns{
    margin: 0 auto;
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: orangered;
    position: absolute;
    top: 35%;
    left: 98%;
    transition: transform .2s ease;
}

.btns:hover{
    transform: rotate(-30deg);
    color: black;
}

#plus-btn{
    display: block;
}

.show-answer #plus-btn{
    display: none;
}

#minus-btn{
    display: none;
}

.show-answer #minus-btn{
    display: block;
}

.answer{
    text-align: center;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    visibility: hidden;
    z-index: -30;
}
.show-answer .answer{
    visibility: visible;
    z-index: 30;
}

.answer .line{
    border-top: 1px black solid;
    width: 60%;
    margin: 0 auto;
    padding: 5px 0;
}

.answer p{
    font-size: 1.3rem;
    padding-bottom: 10px;
}





